<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atualizar</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='styles/atualizar.css')}}"
    />
  </head>
  <body>
    <nav>
      <p>Sistema de Fichas</p>
      <a href="./">Cadastro</a>
      <a href="./consulta">Consulta</a>
      <a href="./atualizar">Atualizar</a>
    </nav>
    <section>
      <form>
        <div class="container">
          <input type="text" placeholder="Nome" class="name" required />
          <input
            type="text"
            placeholder="Valor Pago"
            class="amountPaid"
            required
          />
          <input type="date" class="date" required />
          <button class="btnPaid">Pagou</button>
        </div>
      </form>
    </section>
    <script src="{{url_for('static', filename='javascript/atualizar.js')}}"></script>
  </body>
</html>
