<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lojinha</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='styles/style.css')}}"
    />
  </head>
  <body>
    <nav>
      <p>Sistema de Fichas</p>
      <a href="./">Cadastro</a>
      <a href="./consulta">Consulta</a>
      <a>Atualizar</a>
    </nav>
    <section>
      <h2>Cadastro</h2>
      <div class="grid-container">
        <input type="text" placeholder="Nome" class="name" />
        <input type="text" placeholder="Nome Relacionado" class="rel-name" />
        <input type="text" placeholder="Produto" class="product" />
        <input type="date" class="date" />
        <input type="text" placeholder="Valor" class="amount" />
        <input type="text" placeholder="Valor Pago" class="amount-paid" />
        <input type="text" placeholder="Valor Devido" class="amount-due" />
        <button class="insert">Cadastrar</button>
      </div>
    </section>
    <script>
      function ifEmptyReturnNull(value) {
        if (value === "") {
          return null;
        } else {
          return value;
        }
      }

      function submitInsert(object) {
        fetch(`${window.origin}/insert`, {
          method: "POST",
          credentials: "include",
          body: JSON.stringify(object),
          cache: "no-cache",
          headers: new Headers({
            "content-type": "application/json",
          }),
        });
      }

      const btnInsert = document.querySelector(".insert");
      btnInsert.addEventListener("click", function () {
        const name = ifEmptyReturnNull(document.querySelector(".name").value);
        const relName = ifEmptyReturnNull(
          document.querySelector(".rel-name").value
        );
        const product = ifEmptyReturnNull(
          document.querySelector(".product").value
        );
        const date = ifEmptyReturnNull(document.querySelector(".date").value);
        const amount = ifEmptyReturnNull(
          document.querySelector(".amount").value
        );
        const amountPaid = ifEmptyReturnNull(
          document.querySelector(".amount-paid").value
        );
        const amountDue = ifEmptyReturnNull(
          document.querySelector(".amount-due").value
        );

        insertQuery = {
          name,
          relName,
          product,
          date,
          amount,
          amountPaid,
          amountDue,
        };

        submitInsert(insertQuery);
      });
    </script>
  </body>
</html>
